<div id="edit-feeling">
	<h2>Edit <%= @feeling.name %></h2>

	<%= link_to "Delete this feeling?", feeling_path(@feeling), method: :delete, class: "waves-effect waves-light btn", data: {confirm: "Are you sure you want to delete this?"} %>
	<%= link_to "Go Back", feeling_path(@feeling), class: "waves-effect waves-light btn" %>

	<br />

	<%= flash[:error] if flash[:error] %>
	<% if @feeling.errors.any? %>
		<ul>
		<% @feeling.errors.full_messages.each do |m| %>
			<li><%= m %></li>
		<% end %>
		</ul>
	<% end %>

	<%= form_for(@feeling) do |f| %>
	<div class="feeling-form">
		<div class="feeling-form-child">
			<h3>Feeling info</h3>
			<%= f.label :name %>
			<%= f.text_field :name %>
			<br />
			<%= f.label :summary %>
			<%= f.text_area :summary, rows: 10 %>
		</div>
	</div>

	<div class="checkboxes-form">
		<div class="checkboxes-child">
			<h3>Plants that Enhance this Feeling</h3>
			<%= f.collection_check_boxes :encouraging_plant_ids, @plants, :id, :name %>
		</div>

		<div class="checkboxes-child">
			<h3>Plants that Ease this Feeling</h3>
			<div class="checkbox-box">
				<%= f.collection_check_boxes :easing_plant_ids, @plants, :id, :name %>
			</div>
		</div>
		<%= f.submit "Edit Feeling", class: "waves-effect waves-light btn" %>
	<% end %>

</div>