<div id="edit-plant">

	<h2>Edit <%= @plant.name %></h2>

	<div class="control-buttons">
		<%= link_to "Delete this plant?", plant_path(@plant), method: :delete, class: "waves-effect waves-light btn", data: {confirm: "Are you sure you want to delete this?"} %>
		<%= link_to "Go back", plant_path(@plant), class: "waves-effect waves-light btn" %>
	</div>

	<div class="errors">
		<%= flash[:error] if flash[:error] %>
		<% if @plant.errors.any? %>
			<ul>
			<% @plant.errors.full_messages.each do |m| %>
				<li><%= m %></li>
			<% end %>
			</ul>
		<% end %>
	</div>

	<%= form_for(@plant, multipart: true) do |f| %>
		<%= render partial: 'form_info_and_image', locals: {plant: @plant, f: f} %>

	<div class="checkboxes-form">
		<div class="checkboxes-child">
			<h3>Feelings that this Plant Enhances</h3>
			<%= f.collection_check_boxes :future_feeling_ids, @feelings, :id, :name %>
		</div>
		<div class="checkboxes-child">
			<h3>Feelings that this Plant Transforms or Eases</h3>
			<%= f.collection_check_boxes :current_feeling_ids, @feelings, :id, :name %>
		</div>
		<%= f.submit "Edit Plant", class: "waves-effect waves-light btn" %>
	</div>
	<% end %>

</div>