<div id="plant-show">

  <div class="errors">
    <%= flash[:notice] if flash[:notice] %>
    <%= flash[:error] if flash[:error] %>
  </div>

  <div class="container">

    <div class="row">
      <h2><%= @plant.name %></h2>
    </div>

    <div class="row">

      <div class="col s6">
        <div class="card">
          <div class="card-content">
          <% if !@plant.image %>
            <p>No image is currently available.</p>
          <% else %>
            <div class="card-image">
              <%= link_to image_tag(@plant.image.url(:medium)), @plant.image.url(:large) %>
            </div>
          <% end %>

            <span class="card-title">Summary</span>
            <% if @plant.summary %>
              <p><%= @plant.summary %></p>
              <p><strong>Image credit:</strong> <%= @plant.image_credit_desc %> (<%= link_to "link", @plant.image_credit_url %>)</p>
            <% else %>
              <p>No summary is yet available.</p>
            <% end %>
            <%= link_to "Edit this Plant", edit_plant_path(@plant), class: "btn crud" %>
          </div>
        </div>
      </div>

      <div class="col s6">
        <div class="card">
          <div class="card-content">

            <span class="card-title">Effective for...</span>
            <br />
            <% @plant.current_feelings.each do |f| %>
              <%= link_to f.name, feeling_path(f), class: "btn" %>
            <% end %>

          <br />

            <span class="card-title">Makes you feel...</span>
            <br />
            <% @plant.future_feelings.each do |f| %>
              <%= link_to f.name, feeling_path(f), class: "btn" %>
            <% end %>

          <!-- end of card-content -->
          </div>

        <!-- end of card -->
        </div>

      <!-- end of column -->
      </div>

    <!-- end of row -->
    </div>

  <!-- end of container -->
  </div>

</div>
