<!DOCTYPE html>
<html>
  <head>
    <title>Plant Spirit App - Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"></a>
      <% if logged_in? %>
        Hi, <%= current_user.username %>!
      <% end %>
      <ul class="right hide-on-med-and-down">
        <% if !logged_in? %>
          <li><%= link_to "Admin Login", login_path %></li>
        <% else %>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Manage Feelings", feelings_path %></li>
          <li><%= link_to "Manage Plants", plants_path %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <% if !logged_in? %>
          <li><%= link_to "Admin Login", login_path %></li>
        <% else %>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Manage Feelings", feelings_path %></li>
          <li><%= link_to "Manage Plants", plants_path %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav> 	
  	<h1>Plant Spirit App - Admin</h1>
    <%= yield %>
  </body>
</html>
